<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
 
<suite name="Example" verbose="1">
    <parameter name="param" value="Laramie"/>
    <test name="ObjectExitTest simple example">
        <parameter name="browser" value="mobileGalaxyS3"/>
        <classes>
            <class name="test.mobile.site.mobieTest"/>
        </classes>
 
        <groups>
            <run>
                <include name="create"/>
            </run>
        </groups>
    </test>
</suite>